body {
	margin:auto;
	text-align: center;
	padding: 20px;
	align-content: center;
	background-image: linear-gradient(rgba(165, 184, 73, 0.5), 
		rgba(91, 163, 97, 0.5)), 
	    url("../assets/sky.jpg");
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	font-family: 'East Sea Dokdo', cursive;
	color: rgb(253, 255, 181);
	text-shadow: 2px 2px #535428;
	font-size: 40px;
	letter-spacing: 12.1px;
	font-weight: 400;
	text-transform: uppercase;

}
.grid {
    display: grid;
	grid-template-columns: 1fr 1fr;
	/*margin: 50px auto;
	padding-bottom: 50px;*/
	
}

h4 {
	letter-spacing: 0px;
	color: black;
	text-shadow: 2px 2px rgb(253, 255, 181);
}

p {
	color: #fffb00;
	text-shadow: 2px 2px #535428;
}

.yes {
	margin-right: 1em;
}

.no {
	margin-left: 1em;
}

.map {
	background: none;
}

button {
	cursor: pointer;
	font-family: 'East Sea Dokdo', cursive;
	text-transform: uppercase;
    font-size: 40px;
    background: #535428;
    letter-spacing: 0.1em;
    color:rgb(253, 255, 181);
    padding:10px;
    border-radius:20px;
    border: none;
    margin: 0 auto;
    padding: 5px;
    display: block;
    width: 15%;
}