@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
}

body {
	margin: auto;
	text-align: center;
	padding: 20px;
	align-content: center;
	background-image: linear-gradient(to right bottom, #fff, #535428);
	background-attachment: fixed;
	background-size: cover;
	background-position: center;
	/* font-family: 'East Sea Dokdo', cursive; */
	font-family: 'Open Sans', sans-serif;
	color: rgb(253, 255, 181);
	text-shadow: 1px 1px #535428;
	/* font-size: 40px; */
	letter-spacing: 3px;
	font-weight: 400;
	text-transform: uppercase;
	flex-direction: column;
}

.header {
	height: 60vh;
	background-image: linear-gradient(to right bottom, rgba(165, 184, 73, 0.5), rgba(91, 163, 97, 0.5)),
		url(../assets/sky.jpg);
	background-size: cover;
	background-position: center;
	letter-spacing: 12px;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85vh);
	position: relative;
}

.heading-p {
	color: #333;
	text-transform: uppercase;
	padding-top: 10rem;
}

.heading-pmain {
	display: block;
	font-size: 60px;
	letter-spacing: 20.1px;
	font-weight: 400;
}

.heading-smain {
	display: block;
	font-size: 20px;
	font-weight: 700;
	letter-spacing: 5.4px;
}

h5 {
	letter-spacing: 0px;
	color: black;
	text-shadow: 2px 2px rgb(253, 255, 181);
}

/* Video Player  */

.vids {
	box-sizing: border-box;
	align-items: center;
	justify-content: center;
	max-height: 100vh;
	margin: 0;
	display: flex;
	/* background-color: #666; */
	flex-direction: column;
}

.screen {
	cursor: pointer;
	width: 65%;
	/* background-image: linear-gradient(to right bottom, rgba(165, 184, 73, 0.5), rgba(91, 163, 97, 0.5)) !important; */
	/* background-color: #535428 !important; */
	/* z-index: -1; */
	opacity: .5;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.overlay {
	position: absolute;
	color: #333;
	font-size: 4rem;
	visibility: visible;
	/* z-index: 1; */
	/* transition-timing-function: ease-in;
	transition-timing-function: cubic-bezier(0.42, 0, 1, 1); */
	transition: all 3s ease;
}

.overlay2 {
	visibility: hidden;
}

.controls {
	background: #333;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px 0;
	color: #fff;
	width: 65%;
}

.controls .fa-play {
	color: rgba(165, 184, 73, 0.5);
}
.controls .fa-stop {
	color: #fffb00;
}

.controls .fa-pause {
	color: #fff;
}

.controls .timestamp {
	color: #fff;
	font-weight: bold;
	margin-left: 10px;
}
.controls .btn {
	border: 0;
	background: transparent;
	cursor: pointer;
}

.btn focus {
	outline: 0;
}

@media (max-width: 800px) {
	.screen,
	.controls {
		width: 90%;
	}
}

/* Random life generator  */

.new-life {
	padding: 3rem 0;
}
.grid {
	display: inline-flex;
}

.yesNo {
	margin-top: 25px;
	padding: 10px 30px;
	display: inline-block;
	border-radius: 5px;
	transition: all .2s;
	position: relative;
	border: none;
	cursor: pointer;
	text-transform: uppercase;
	font-size: 40px;
	background: #535428;
	letter-spacing: 0.1em;
	color: rgb(253, 255, 181);
	border: none;
	margin: 0 4rem;
	/* width: 200px; */
}

@media (max-width: 800px) {
	.yesNo {
		margin: 0 2rem;
	}
}

p {
	color: #fffb00;
	text-shadow: 2px 2px #535428;
	font-size: 33px;
}

.map {
	background: none;
}

/* Footer  */

a {
	color: #333;
}

.footer {
	background-color: rgba(165, 184, 73, 0.5);
	padding: 2rem 2rem;
	font-size: 1.4rem;
}
